<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Editar Producto</title>
  <link rel="stylesheet" href="/src/app/edit-product-vendedor/edit-product-vendedor.component.css">
</head>
<body>
    <div class="contenido">
      <h1>Mis Productos</h1>
      <div class="productos-grid">
        <!-- Producto 1 -->
        <div class="producto-card">
          <img src="assets/empanada.jpg" alt="Empanada de Queso">
          <div class="producto-info">
            <p><strong>ID:</strong> 001</p>
            <h3>Empanada de Queso</h3>
            <p>Empanada rellena de queso oaxaca.</p>
            <a routerLink="/vendedor/formulario-editar/001" class="btn-editar">Editar</a>
          </div>
        </div>
    
        <!-- Producto 2 -->
        <div class="producto-card">
          <img src="assets/tamal.jpg" alt="Tamal de Pollo">
          <div class="producto-info">
            <p><strong>ID:</strong> 002</p>
            <h3>Tamal de Pollo</h3>
            <p>Tamal tradicional con pollo y salsa verde.</p>
            <a routerLink="/vendedor/formulario-editar/002" class="btn-editar">Editar</a>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
