<div class="contenido">
  <h1>Añadir Producto</h1>
  <form class="formulario" [formGroup]="productoForm" (ngSubmit)="onGuardarProducto()">
    <div class="contenedor-principal">
      
      <!-- Columna izquierda: Imagen y descripción -->
      <div class="columna-izquierda">
        <div class="preview-imagen">
          <img [src]="imagenPreview || 'https://via.placeholder.com/150'" alt="Vista previa de imagen">
        </div>
        <div class="grupo">
          <label for="imagenUrl">URL de Imagen del producto</label>
          <input type="url" id="imagenUrl" formControlName="imagenUrl" placeholder="https://..." (input)="actualizarVistaPrevia()" />
        </div>          
        <div class="grupo">
          <label for="descripcion">Descripción</label>
          <textarea id="descripcion" rows="6" formControlName="descripcion" required></textarea>
        </div>
      </div>

      <!-- Columna derecha: Datos del producto -->
      <div class="columna-derecha">
        <div class="grupo">
          <label for="nombre">Nombre del producto</label>
          <input type="text" id="nombre" formControlName="nombre" required>
        </div>
        <div class="grupo">
          <label for="cantidad">Cantidad disponible</label>
          <input type="number" id="cantidad" min="1" formControlName="cantidad" required>
        </div>
        <div class="grupo">
          <label for="precioUnitario">Precio ($MXN)</label>
          <input type="number" id="precioUnitario" min="1" step="0.01" formControlName="precioUnitario" required>
        </div>
        <div class="grupo">
          <label for="tipoProducto">Tipo de producto</label>
          <select id="tipoProducto" formControlName="tipoProducto" required>
            <option value="">Selecciona una opción</option>
            <option value="BEBIDA">Bebida</option>
            <option value="COMIDA">Comida</option>
            <option value="SNACK">Snack</option>
          </select>
        </div>
      </div>
    </div>

    <!-- Botón de guardar -->
    <div class="acciones">
      <button type="submit" class="guardar">Guardar Producto</button>
    </div>
  </form>
</div>
