<header class="navbar">
  <h1 class="logo">Tap$$Eat</h1>
  <button class="account-btn" routerLink="/login">Mi cuenta</button>
</header>

<section class="welcome-section" *ngIf="router.url !== '/login'">
  <h2>¿Qué se te antoja hoy?</h2>
  <div class="categories">
    <button class="category">🍔 Comida</button>
    <button class="category">🛒 Tienda</button>
    <button class="category">🥤 Bebidas</button>
    <button class="category">🍰 Postres</button>
  </div>
</section>

<router-outlet></router-outlet>
